[2017-11-10 11:56] jszuppe opened #4 "Tests fail on AMD MI25, ROCm 1.6.4"
rocRAND's tests `test_hiprand_kernel`, `test_hiprand_api`, and `test_rocrand_kernel_philox4x32_10` randomly fail on AMD MI25 on ROCm 1.6.4. Mentioned tests don't fail on ROCm 1.6.3 and on CUDA 8/9. As far as we know right now, they also don't fail on any other device on ROCm 1.6.4. Currently, we suspect the problem is in ROCm, not it rocRAND.

After investigation we think it's some kind of synchro

[2017-11-29 16:10] QWU-AMD opened #5 "rocRAND build issue with rocm-dev"
Hi,

When I try to build rocRAND on AMD platform with rocm-dev (v1.6) installed, instead of rocm, there is error reported:
**command:**
cmake -DBUILD_BENCHMARK=ON ../.

**error:**
CMake Error at /usr/share/cmake-3.5/Modules/FindCUDA.cmake:617 (message):
  Specify CUDA_TOOLKIT_ROOT_DIR
Call Stack (most recent call first):
  cmake/NVCC.cmake:54 (find_package)
  cmake/Dependencies.cmake:12 (include)

[2017-11-29 17:12] QWU-AMD commented on #5
HIP version  : 1.4.0

== hipconfig
HIP_PATH     : /opt/rocm/hip/bin
HIP_PLATFORM : nvcc
CPP_CONFIG   :  -D__HIP_PLATFORM_NVCC__=  -I/opt/rocm/hip/bin/include -I/usr/loc                                                                                                             al/cuda/include

== nvcc
Can't exec "nvcc": No such file or directory at ./hipconfig line 143.

=== Environment Variables
P

[2017-11-29 17:18] jszuppe commented on #5
That's the problem. `hipconfig` , and thus `FindHIP.cmake` module from `hip` which is used in rocRAND, sees your environment as a CUDA platform, not ROCm platform. Moreover, it can't find `nvcc` compiler. That's no a bug in rocRAND.

You should either add `nvcc` to your path and make sure CUDA is correctly installed, so `hipconfig` can find it, or make `hipconfig` see your environment as ROCm plat

[2017-11-29 17:22] whchung commented on #5
@QWU-AMD since you installed `rocm-dev` on your system, it appears you want to use ROCm stack.  you may want to check if your system has ROCm stack properly installed going to `/opt/rocm/hsa/sample`, and `make; ./vector_copy`, and check if the output is showing a kernel is properly executed.

you may also want to check https://rocm.github.io/hardware.html to verify if you are using ROCm-compatible

[2017-11-29 18:47] QWU-AMD commented on #5
Thank you for replying! With rocm installed, things work fine.

[2017-11-29 18:47] #5 closed

[2017-11-30 17:35] QWU-AMD opened #6 "rocRAND build with rocm 1.7?"
Hi,

On the same machine, when rocm 1.6 is installed, rocRAND can be built. When rocm 1.7 is installed, the rocRAND build keeps failing.

Are there any extra steps other than the instructions on the github page that I should take to build rocRAND with rocm 1.7?

Thanks,
Qiyu

[2017-11-30 17:56] bragadeesh commented on #6
Can you please post the error message here

[2017-11-30 18:15] QWU-AMD commented on #6
make -j4

Scanning dependencies of target sobol_direction_vector_generator
Scanning dependencies of target rocrand
Scanning dependencies of target mrg32k3a_precomputed_generator
Scanning dependencies of target xorwow_precomputed_generator
[  1%] Building CXX object tools/CMakeFiles/mrg32k3a_precomputed_generator.dir/mrg32k3a_precomputed_generator.cpp.o
[  3%] Building CXX object tools/CMakeFiles/s

[2017-11-30 18:33] bragadeesh commented on #6
Thanks; how are you obtaining rocm 1.7? Why do you need to use an unreleased rocm version?
this is a known bug that has been fixed in our internal branch; the fix should soon propagate up

[2017-11-30 21:54] #6 closed

[2018-01-09 22:39] bragadeesh opened #11 "Create symbolic links under /opt/rocm in the installer"
Symbolic links for  rocrand & hiprand libraries and headers are missing under /opt/rocm/lib  and /opt/rocm/include . Like other roc libraries such as rocBLAS, we need to create symbolic links for hiprand and rocrand under /opt/rocm during installation from the .deb package etc.

[2018-01-09 22:42] jszuppe commented on #11
I thought `postinst`  install script is doing it.

[2018-01-09 23:20] bragadeesh commented on #11
closing this for now

[2018-01-09 23:20] #11 closed

[2018-03-08 20:19] tingxingdong opened #13 "not be able to build on rocm 1.7.x"
building error  on Vega10 is like

In file included from /home/rocRAND/library/src/rocrand.cpp:23:
In file included from /home/rocRAND/library/src/rng/generators.hpp:27:
/home/rocRAND/library/src/rng/sobol32.hpp:159:9: error: no matching function for call to 'hipLaunchKernelGGL'
        hipLaunchKernelGGL(
        ^~~~~~~~~~~~~~~~~~
/home/rocRAND/library/src/rng/sobol32.hpp:186:16: note: in instan

[2018-03-08 20:22] jszuppe commented on #13
Which branch?

[2018-03-08 20:25] bragadeesh commented on #13
@tingxingdong can you use the rocm_1_7_1 branch

[2018-03-08 20:26] tingxingdong commented on #13
master branch.
I build both on rocm 1.7.1 and rocm master. both failed with the same error.

[2018-03-08 20:34] sunway513 commented on #13
@tingxingdong , try test_roc_master  branch. It looks like the master branch doesn't have change for HIP-246PR.

[2018-03-08 20:36] tingxingdong commented on #13
I must build it for rocm 1.7.1, it is for CentOS rpm release.

[2018-03-08 20:38] VincentSC commented on #13
Could one of you make a PR for that HIP-246PR?

[2018-03-08 20:38] sunway513 commented on #13
@bragadeesh , please help review and merge all the required changes to work for HIP-246PR. Those changes were mainly to add some static cast in hipLaunchKernelGGL call, such as:
https://github.com/ROCmSoftwarePlatform/rocRAND/commit/527c8f39fd315b2604c56e1b4ac1747b3cc4b105

[2018-03-09 23:55] #13 closed

[2018-03-13 18:07] tingxingdong opened #14 "hip_hcc.so dependency issue when instaill *.rpm"
Environment: CentOS 7,4 + gcc 7.4 + Vega10 + ROCM 1.7.x

trying to install rocrand *.rpm, with the libhip_hcc.so()(64bit) dependency unresolved.
No such issue on rocFFT which does not depend on libhip_hcc.so but hip_hcc >= 1.3.

Is hip_hcc.so a CUDA compatible library?   see here
_" I tensorflow/stream_executor/dso_loader.cc:139] successfully opened CUDA library libhip_hcc.so locally"_ in https://

[2018-03-13 18:15] bragadeesh commented on #14
@jszuppe
We are working on centos support. After generating rocrand RPM , it errors out during installation
can you help with this?

[2018-03-13 18:24] jszuppe commented on #14
Sure, I can look into it. I don't have a docker image with CentOS and ROCm right now, but I'll try.

That's odd. rocFFT also links against that lib: https://github.com/ROCmSoftwarePlatform/rocFFT/blob/develop/library/src/CMakeLists.txt#L58 It's a basic HIP/HCC lib.

[2018-03-13 18:44] bragadeesh commented on #14
what Tim means is that the package name differs, in rocfft case it is hip_hcc, whereas rocrand seem to depend on the so name specifically

[2018-03-13 18:58] jszuppe commented on #14
Try adding

[code]

before line https://github.com/ROCmSoftwarePlatform/rocRAND/blob/develop/library/CMakeLists.txt#L250

[2018-03-13 20:36] tingxingdong commented on #14
Hi, @jszuppe Thanks, the 2 lines work!
can you explain why a little bit?

[2018-03-13 20:48] jszuppe commented on #14
`CPACK_RPM_PACKAGE_RELOCATABLE` is not related, but it's better to turn it off since we don't need a relocatable package. As for `CPACK_RPM_PACKAGE_AUTOREQPROV` CPack option, turning it off disables automatic detection of shared libraries dependencies. After Braga commented that it depends on the so name specifically, I remembered that this option is turned off in rocm-cmake and what the option do

[2018-03-13 21:13] #14 closed

[2018-03-13 21:39] bragadeesh commented on #14
Thanks @jszuppe

[2018-03-13 21:54] jszuppe commented on #14
I'm glad I could help.

[2018-03-14 17:21] ashishfarmer opened #16 "Cannot build rocRAND on ROCm 1.7.1"

[2018-03-14 17:23] ashishfarmer commented on #16
cmake step is ok, but when I try to make, I see the error:
[code]

[2018-03-14 20:07] VincentSC commented on #16
Ah, that's exactly what we're encountering!
Would it be good to have a single status-page for all ROCm-related projects?

[2018-03-14 20:12] tingxingdong commented on #16
what is your OS + compiler + GPU? How do you know it is 1.7.1? Can you /opt/rocm/bin/hipconfig

[2018-03-14 20:26] sunway513 commented on #16
Just verified with the `rocm/rocm-terminal:latest` docker image, rocRAND can be built fine using the following steps:
[code]

[2018-03-14 20:44] bragadeesh commented on #16
I was able to build the test_rocrand_generate executable fine on my machine. I am not on docker container. I am running 16.04.1 + Fiji and rocm-dkms 1.7.137

HCC clang version 6.0.0 (ssh://gerritgit/compute/ec/hcc-tot/clang ac8732c272d3ce6a4d1ee6aa636f06d44cd5170c) (ssh://gerritgit/compute/ec/hcc-tot/llvm 710f135c41925e12aa088c26e1a9f583b1778fbe) (based on HCC 1.2.18063-7e18c64-ac8732c-710f135 )
T

[2018-03-14 21:08] tingxingdong commented on #16
@sunway513 , they are building client (executables) not library *.so.

[2018-03-14 21:10] ashishfarmer commented on #16
I am running 16.04.1 on Vega and rocm-dkms 1.7.137

hipconfig output from my system:
[code]

[2018-03-14 21:11] sunway513 commented on #16
@tingxingdong I should have built everything. The 26 dtests also pass fine in my docker container.

[2018-03-14 22:03] bragadeesh commented on #16
@ashishfarmer
how are you launching the build? can you rebuild dependencies with this flag
cmake -DDEPENDENCIES_FORCE_DOWNLOAD=ON

[2018-03-14 22:07] ashishfarmer commented on #16
@bragadeesh , with the -DDEPENDENCIES_FORCE_DOWNLOAD flag on cmake command line on, I am able to build it. It builds and the tests pass.

[2018-03-15 04:45] #16 closed

[2018-03-27 13:53] QWU-AMD opened #17 "Can the rocRAND v1.7.1 run on Carrizo?"
Hello,

I can build the rocRAND v1.7.1 on my Carrizo machine. However, if I run the
**./benchmark_rocrand_generate --engine all --dis all**

it will crash:
**xorwow:
  uniform-uint:
terminate called after throwing an instance of 'std::runtime_error'
  what():  No device code available for function: _ZN12rocrand_host6detail19init_engines_kernelEPN14rocrand_device13xorwow_engineEyy
Aborted (core dum

[2018-03-27 14:00] jszuppe commented on #17
That looks like some problem with ROCm not with rocRAND. Unless other roc*/hip* libraries work on your Carrizo machine, do they?

[2018-03-27 14:03] jszuppe commented on #17
Does `rocminfo` detect Carrizo and print information about it?

[2018-03-27 14:11] QWU-AMD commented on #17
Thanks for the reply. I run the rocminfo, it detects the gfx801 (which is Carrizo) and print the information about it.

[2018-03-27 14:15] jszuppe commented on #17
Sorry, I've read the error incorrectly. Solution: add `gfx801` to AMD_TARGETS cmake option (https://github.com/ROCmSoftwarePlatform/rocRAND/blob/master/CMakeLists.txt#L56), so `-DAMD_TARGETS=gfx801` when you're running cmake.

[2018-03-27 14:42] jszuppe commented on #17
Please close if that solves your problem.

[2018-03-27 15:03] QWU-AMD commented on #17
I added the -DAMD_TARGETS=gfx801 when running cmake. I still get the same error message.

[2018-03-27 15:04] jszuppe commented on #17
`AMDGPU_TARGETS`

[2018-03-27 15:08] QWU-AMD commented on #17
It works! Thanks!

[2018-03-27 15:08] #17 closed

[2018-04-13 22:49] pfultz2 opened #18 "rocRAND does not build with hcc"
Trying to build with hcc, like this:

[code]

Still uses hipcc to build:

[code]
I use hcc to build all the library components because hipcc has many problems(including in the above scenario).

All the other libraries such as: miopen, rocblas, hipblas, rocfft do not have this problem, and can be built with hcc.

It seems a major problem is [here](https://github.com/ROCmSoftwarePlatform/rocRAND/blo

[2018-05-28 21:33] Jorghi12 opened #19 "Issue installing rocRAND (HIP version : 1.5.18205)"
Hi! It appears that when building rocRAND, it does not include the path /opt/rocm/hcc/include/ as a library search path (-L/opt/rocm/hcc/include/), leading to the error below.

/opt/rocm/hip/include/hip/hcc_detail/hip_runtime.h:61:10: fatal error: 'grid_launch.h' file not found
#include <grid_launch.h>

[2018-05-29 11:19] ex-rzr commented on #19
Could you show output of `hipconfig`?

[2018-05-30 06:08] ex-rzr commented on #19
Is this the first time you observe this issue? What about older versions of HIP and HCC?

I'm asking because we have 1.5.18151 and 1.5.18081, everything is ok.

[2018-07-10 22:11] Jorghi12 opened #21 "Make the state structs accessible directly from C."
You can take a look at CUDA headers and you'll see that state is designed as a struct: https://github.com/Geof23/Gklee/blob/master/Gklee/include/cuda/curand_mtgp32.h#L194

[rocRAND however has its state defined as a class with member functions](https://github.com/ROCmSoftwarePlatform/rocRAND/blob/master/library/include/rocrand_mtgp32.h#L158). This is not supported in C and thus it's not possible t

[2018-07-11 08:18] jszuppe commented on #21
As far as I know name mangling applies to C++ (which has namespaces, overloading etc.), not to C, I guess you meant disabling name mangling. I think I know what is the basic requirement here. You want to be able to compile `hipandMakeMTGP32KernelState` and `hiprandMakeMTGP32Constants` functions in C, right?

Yes, I guess user can add `extern "C"` around `#include curand_mtgp32_host.h`.

Can you pr

[2018-07-11 08:42] jszuppe commented on #21
Yes, but only `curandStateMtgp32` and `curandStatePhilox4_32_10` can be used in C API, because other states are declared in `curand_kernel.h` which has C++-style functions (overloading). I guess it's more like a coincident than a deliberate decision. Anyway, I guess it's needed for porting something, so it's not like you're writing your own code. We will look into that.

[2018-07-11 15:14] Jorghi12 commented on #21
@jszuppe Which version of the curand_kernel.h header are you looking at? curandStateMtgp32 and curandStatePhilox4_32_10 are not the only states that can be used in the C API.

curandStateXORWOW: https://github.com/cheichler/RemoteRendering/blob/master/inc/curand_kernel.h#L122

curandStateMRG32k3a:
https://github.com/cheichler/RemoteRendering/blob/master/inc/curand_kernel.h#L186

curandStateSobol32

[2018-07-11 15:24] jszuppe commented on #21
In that header you have functions like curand() that has multiple overloads. C compiler should complain about that.

[2018-07-11 18:41] Jorghi12 opened #22 "Use mtgp32_kernel_params field inside of mtgp_engine for better OO design."
I don't see why you're diverging from CUDA for no good reason. I noticed a redundancy with the design of the mtgp_engine class.

**This is how it's already done in CUDA.**
[code]
**Let's take a look at rocRAND.**
Fields of the [mtgp32_kernel_params_t class](https://github.com/ROCmSoftwarePlatform/rocRAND/blob/1890bb31675a6cbaa7766e947c8e35c4d1010ad6/library/include/rocrand_mtgp32.h#L320):
[code]

[2018-07-12 02:29] ex-rzr commented on #22
@Jorghi12 But why exactly do these new frameworks need access to "private" types? (by "private" I mean anything that is not listed in https://docs.nvidia.com/cuda/curand/group__HOST.html and https://docs.nvidia.com/cuda/curand/group__DEVICE.html).

[2018-07-12 06:43] Jorghi12 opened #24 "Request: Better handling of sign when doing comparisons."
While running though rocRAND I saw a comparison between **unsigned** and **signed** integers. An example shown here where **variable i is signed** but **variable v is unsigned**.
https://github.com/ROCmSoftwarePlatform/rocRAND/blob/master/library/include/rocrand_xorwow.h#L220

I'd prefer to have equivalency between types throughout the codebase. The difference between signed and unsigned integers

[2018-07-12 06:51] Jorghi12 commented on #22
Here's an example with CUDA: https://github.com/pytorch/pytorch/blob/master/aten/src/THC/THCTensorRandom.cu#L64

The field isn't private in CUDA.

For example, notice how the curandMakeMTGP32KernelState method takes in a mtgp32_kernel_params_t argument.

`__host__ ​ curandStatus_t CURANDAPI curandMakeMTGP32KernelState ( curandStateMtgp32_t* s, mtgp32_params_fast_t params[], mtgp32_kernel_params_t*

[2018-07-12 07:00] ex-rzr commented on #22
That's exactly what I'm asking about: both host and device cuRAND APIs work with `*_t` types, i.e. there is `mtgp32_kernel_params_t` but no `mtgp32_kernel_params`.

What does pyTorch uses such types? Does it implement something that is not possible to accomplish using public APIs?

[2018-07-12 07:02] Jorghi12 commented on #22
I just didn't see any reason for the divergence away from the CUDA API and wondered why such decisions were made. This isn't urgent but it'd be nice to have.

[2018-07-12 07:05] Jorghi12 commented on #22
@ex-rzr I think my original proposal may not be coming across clearly enough.

I don't want a mtgp32_kernel_params exposed at all.

I'm simply saying that the mtgp_engine class should have a pointer to a mtgp32_kernel_params_t object.

[2018-07-12 07:05] jszuppe commented on #22
`mtgp32_kernel_params_t` is not private, but its fields are implementation details. The same goes for fields of `curandState<>` structures.

The fact that it's used in PyTorch does not mean it's correct usage.

[2018-07-12 07:06] Jorghi12 commented on #22
@jszuppe @ex-rzr Ignore the example I linked you to. That's a totally separate ordeal. Please re-read the initial message.

[2018-07-12 07:08] Jorghi12 commented on #22
@jszuppe I believe we're discussing different things. From _within device code_, surely it would still be a nice to have to be able to pass mtgp32_kernel_params_t objects around to different mtgp_engine classes instead.

[2018-07-12 07:13] jszuppe commented on #22
Yeah. We get that. We don't remember exactly why it was done that way. It might have to do something with performance, or just missed (it happens; that was not  the most important part of the project and it's not like the time was unlimited). `mtgp32_kernel_params_t` is not the same as fields in `mtgp_engine`, because it's bigger. I get that pointer may solve that, and that's a valid idea. We woul

[2018-07-12 07:14] Jorghi12 commented on #22
I'd recommend seeing page 30 of http://www.math.univ-paris13.fr/~cuvelier/docs/Informatique/CUDA/docs/5.0/CURAND_Library.pdf

[2018-07-12 07:32] jszuppe commented on #21
If you have something like `void foo(curandStateXORWOW);` in your C API in header file, then you have to include `curand_kernel.h` in that header, so programs that uses that header knows what it is. That you can't do, because compilation errors. And that's what I meant when I said that only 2 state structs can be used in C. Also, at that point I didn't know how you want to use struct state in C.

[2018-07-12 07:37] Jorghi12 commented on #24
This might not be that big of an issue. I only saw it on that single line I pointed out.

[2018-07-12 07:40] jszuppe commented on #24
Yeah, that `i` will be very small IIRC and always positive, so there is not problem in that line. `i` will be converted to `unsigned long long` (C++ behaviour) and compared.

[2018-07-12 07:43] jszuppe commented on #21
Anyway, now that I know what you need I'll look into it and try to find for the simplest solution that will enable you to write `THC_API struct hiprandStateMtgp32 * THCRandom_generatorStates(struct THCState* state);` in C API header. It's possible that for now it will be limited to `hiprandStateMtgp32`.

[2018-07-12 07:52] jszuppe commented on #22
Yeah. We can't predict what implementation details or implementation defined behaviours  (like in [here](https://github.com/pytorch/pytorch/blob/master/aten/src/THC/THCTensorRandom.cu#L64)) will be used by developers that uses cuRAND. We can just hope that developers are sane ;) and it won't happen often. We will consider you request and check how it affects performance.

Let's not talk about hcRN

[2018-07-12 08:01] Jorghi12 commented on #21
@jszuppe Thanks. Yeah I agree. The usage of typedefs makes forward declaring really difficult here. A good solution would require a spoonful of creativity : )

(And yeah NVCC will compile the host code using a C++ compiler, but since the header only had structs on host side, it would interleave nicely with C. This helps turn the opaque type hiprandStateMtgp32 into a real type.)

[2018-07-12 08:03] Jorghi12 commented on #24
@jszuppe Yeah, I didn't expect that this case would have an issue. But simply wanted to point it out.

Unnecessary remark removed.

[2018-07-12 08:18] Jorghi12 commented on #22
@jszuppe Haha oh the horror of hcRNG xD

[2018-07-13 13:46] jszuppe commented on #4
I can't recreate random fails on 1.8.1. Please reopen if you can see this random fails again.

[2018-07-13 13:46] #4 closed

[2018-07-13 14:16] jszuppe commented on #21
@Jorghi12 Can you try branch [fix_21_and_test](https://github.com/ROCmSoftwarePlatform/rocRAND/tree/fix_21_and_test)?

In `test/extra` you can see what works (you don't have to compile and run it if you don't want to). Anyway, `rand_kernel_lib.cpp` is compiled using `hcc` to a dynamic library, it has C API similar to what you have in pytorch. Then you can do `gcc test_rand_kernel_lib.c -Wl,-rpath,

[2018-07-16 16:17] Jorghi12 commented on #21
@jszuppe Awesome! I'll give this a go.

[2018-07-16 19:20] jszuppe commented on #21
When you confirm it works for you, I'll push this and other changes into `develop` branch. I hop to do a new release with ROCm 1.8.2.

[2018-07-16 19:32] iotamudelta commented on #21
@jszuppe ROCm 1.8.2 would be a *great* target but unlikely unless you notify releng here about this. If it works, I'd be in favor since PyTorch depends on it. Thanks!

[2018-07-16 19:35] iotamudelta commented on #21
@jszuppe just talked to releng. If you merge to master and let them know today that it is in, we can make the window.

[2018-07-16 19:48] jszuppe commented on #21
@iotamudelta Ah, I didn't know ROCm 1.8.2 will be released so soon (this week?). I'm sure I won't be able to merge this into `master` today. I need to get confirmation from @Jorghi12 that it works, merge it to `develop`, run tests on ROCm and CUDA machines etc., it's almost 10pm in Poland.

[2018-07-16 19:53] iotamudelta commented on #21
@jszuppe we are in the release candidates. what is a realistic time line for landing in master from your side? I can check if we can make it work.

[2018-07-16 19:56] jszuppe commented on #21
I can do that tomorrow, before 2pm CEST. But most likely without #22. We also have plans to remove some very minor warnings on CUDA environment, that would also be excluded.

[2018-07-16 19:59] iotamudelta commented on #21
#22 is not a blocker from what I can see. and thanks - will forward.

[2018-07-16 22:43] iotamudelta commented on #21
@jszuppe wrote this earlier but it vanished - I've done some limited testing and w/ changes to my PyTorch it compiles w/ this rocRAND branch.

[2018-07-17 01:16] Jorghi12 commented on #21
@iotamudelta There's already a fix for the struct issue in this patch here: https://github.com/ROCmSoftwarePlatform/rocRAND/commit/b7b180ab3634c4ca0ad6b3eaeee60989d778365f.

If you got it to run with this branch (fix_21_and_test), then let's have @jszuppe merge it since it passes tests.

[2018-07-17 08:58] #18 closed

[2018-07-17 08:58] #19 closed

[2018-07-17 08:58] #21 closed

[2018-07-17 09:00] jszuppe commented on #24
Fixed.

[2018-07-17 09:00] #24 closed

[2018-07-18 11:47] jszuppe commented on #22
I'm not sure if we will do that change as using pointer significantly decreases performance of MTGP32 RNG. The drops are: from 180GB/s to 102GB/s on my GTX1080, and from 263GB/s to 156 GB/s on MI25.

[2018-07-22 08:56] Jorghi12 commented on #22
@jszuppe Yeah, adding a function for that is just fine.

[2018-07-23 12:18] jszuppe commented on #22
@Jorghi12 check https://github.com/ROCmSoftwarePlatform/rocRAND/commit/23a729494914db922687ea7e0718451751f1fd56

[2018-07-30 10:50] jszuppe commented on #22
@Jorghi12 Have you checked 23a7294? Can I close this issue?

[2018-08-04 11:00] dcolley opened #26 "Test 4 hangs"
* ubuntu 16.04
* cmake 3.9.4
* hcc 7.0.0

I cloned the rocRAND repo, and tried to build is as per instructions.
For some reason it was trying to include CUDA. E.g. various options in library/CMakeLists.txt [lines 35 and 50]

So I used:
`CXX=/opt/rocm/bin/hcc cmake -DBUILD_BENCHMARK=ON -DHIP_PLATFORM=hcc ../.`

Then I tried the tests:
[code]
... and it never returns.

[2018-08-04 11:12] jszuppe commented on #26
If you can please post output from `hipconfig` and tell us what GPU you have.

For some reason it was trying to include CUDA. E.g. various options in library/CMakeLists.txt [lines 35 and 50]

Do you have CUDA installed too, and is your ROCm platform installed correctly? I'm asking because it seems that HIP cmake script (loaded by `find_package(HIP REQUIRED)`) sets `HIP_PLATFORM` to `nvcc`, not `hc

[2018-08-04 13:48] dcolley commented on #26
I have no Nvidia cards, so I didn't install CUDA - and I prefer not to...
My goal is to run tensorflow on AMD GPUs - I have multiple RX580

[code]

[2018-08-04 14:53] jszuppe commented on #26
See, hipconfig does not detect ROCm platform. Are you able to compile any HIP/OpenCL code and run in on AMD GPU (ROCM platform)?

[2018-08-04 16:37] dcolley commented on #26
I'm out of my depth here :/ (c++ is not my thing, and I am actually after tensorflow, not HIP/OpenCL [yet])

I started with this post https://gpuopen.com/rocm-tensorflow-1-8-release
It points to https://rocm.github.io/ROCmInstall.html

`sudo apt install rocm-dkms` conflicted with amd-dkms, so I had to frig apt to force the installation.
However:
[code]
I will go back to a fresh installation and ru

[2018-08-04 16:41] dcolley commented on #26
Just for info: I did the Hello World tutorial - about 2 weeks ago, and I was able to run the code on GPU

[2018-08-04 16:50] dcolley commented on #26
Ok, I now see that was from https://developer.codeplay.com/computecppce/latest/sycl-guide-hello-sycl - probably not the same thing as hip.

It still runs:
[code]
While trying to get TF working on AMD GPU, I've had an *indirect* journey so far...
ComputeCpp's version of TF is currently 1.3 - it worked for me, but on some cases 1.3 was not sufficient
The announcement of 1.8 above sent me down this r

[2018-08-04 17:10] sunway513 commented on #26
Hi @dcolley, it's optional to build rocRAND or the other libraries from source, if your eventual goal is to enable TF1.8 on AMD GPUs.
Please follow the steps below and create an issue on the TF repo if you have questions:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-install-basic.md

[2018-08-04 20:12] dcolley commented on #26
@sunway513 @jszuppe thank you both for you patience. It's clear that rocRAND is not the cause of the underlying problem.
I followed the instructions on the link, and TF models/tutorials/image/imagenet/classify_image.py is segfaulting...
[code]
I'll move over to tensorflow-upstream to see if someone can help there
:thumbsup:

[2018-08-04 20:12] #26 closed

[2018-08-10 07:45] jszuppe commented on #22
I'm closing this. Please reopen if you still have some issues.

[2018-08-10 07:45] #22 closed

[2018-08-22 12:41] tdd11235813 opened #30 "Build issues (module path, CUDA 9 and sm_20)"
- `CMAKE_MODULE_PATH=/path/to/hip/` did not work
  - tried various path combinations with `CMAKE_PREFIX_PATH` and `CMAKE_MODULE_PATH` and `HIP_DIR` as suggested by cmake output... however, only a direct `cmake -DHIP_PATH=/path/to/hip/ ..` is working
- when building with CUDA9, lowest CC with `sm_20` yields an error (CUDA 9 no more supports Fermi)
  - can be fixed in `cmake/SetupNVCC.cmake`
  - wou

[2018-08-22 12:55] jszuppe commented on #30
I can't reproduce this problem with CUDA 9.2 and HIP 1.5.18263. If `sm_20` is set it means that program which checks which `sm_*` should be used returned error (see https://github.com/ROCmSoftwarePlatform/rocRAND/blob/master/cmake/SetupNVCC.cmake#L25). Are you sure that `hipcc` works correctly?

I don't know what this is for. Is your HIP installation in a custom place? Try `CMAKE_MODULE_PATH=<path

[2018-08-22 12:57] jszuppe commented on #30
You can propagate `NVGPU_TARGETS` as presented in [here](https://github.com/ROCmSoftwarePlatform/rocRAND/blob/master/cmake/SetupNVCC.cmake#L77).

[2018-08-22 13:36] tdd11235813 commented on #30
thank you for your quick response.

The program is compiled on a login node, where no GPU is available. This explains the fallback to `sm_20`, which yields an error, when CUDA 9 is used.
Yes, setting `cmake -DNVGPU_TARGETS=...` is one way to achieve this. However, it would be nice, that this variable is cached for the cmake gui like `AMDGPU_TARGETS`, so it can be viewed and edited e.g. in `ccmake

[2018-08-22 14:50] jszuppe commented on #30
You're right. I'll try to find some time to add it to make it a cached variable like `AMDGPU_TARGETS`.

[2018-09-04 21:17] bragadeesh opened #32 "Investigating performance issues in philox"
copying @gargrahul

@jszuppe could you or someone help here? One of the teams is investigating some performance regression issues in rocRAND with changes in compiler (hcc/hip in ROCm). When running (fox example): benchmark_rocrand_kernel --engine philox --dis uniform-float
we are seeing slowdowns. Could you point to the source kernels that are launched with this command? Is it somewhere here:
http

[2018-09-05 03:03] ex-rzr commented on #32
Does this happen only to Philox? And what about `benchmark_rocrand_generate --engine philox --dis uniform-float`?

How significant are these slowdowns?

It would be great if you show benchmarks for all engines and all distributions on the compilers (both old and new results):
[code]

Regarding this particular benchmark.

The kernel is here: https://github.com/ROCmSoftwarePlatform/rocRAND/blob/mast

[2018-09-05 06:55] gargrahul commented on #32
@ex-rzr There are minor differences in other benchmark results though philox results for benchmark_rocrand_kernel, with HIP PR 535 https://github.com/ROCm-Developer-Tools/HIP/pull/535 are significantly slower than without HIP PR 535 included.

Attached are detailed results. Philox results on Fiji before and after HIP PR 535 are as follows:-

(Before HIP PR 535)
philox:
  uniform-uint:
      Throug

[2018-09-05 08:04] ex-rzr commented on #32
I can't check HIP with and without PR 535 right now, so here are my theoretical thoughts:

1. Only Philox uses vector types (`uint4`)

2. Philox host-API functions (`benchmark_rocrand_generate`) do not suffer this 75% performance degradation.

3. Philox device-API functions call `next()` while host-API functions call `next4()`: https://github.com/ROCmSoftwarePlatform/rocRAND/blob/master/library/in

[2018-09-05 13:56] gargrahul commented on #32
Thanks @ex-rzr . Your suggestion works well. Please go ahead with PR.

[2018-09-11 02:49] ex-rzr commented on #32
Closed by #33

[2018-09-11 02:49] #32 closed

[2018-11-10 09:16] wrightpt opened #35 "Setting up ROCM issue; ImportError: libhiprand.so.1 ; Specify CUDA_TOOLKIT_ROOT_DIR"
I have AMD GPU. Trying to install ROCM to utilize tensorflow:

after installing ROCM. Python IDE provides the following:

ImportError: libhiprand.so.1: cannot open shared object file: No such file or directory

To solve this issue, I read i need to install RocRand to solve the issue but I get the following. I do not use Invidia GPU.

CMake Error at /usr/share/cmake-3.10/Modules/FindCUDA.cmake:682

[2018-11-10 18:00] jlgreathouse commented on #35
What OS are you running, and what process are you following to install ROCm, MIOpen, Tensorflow, and rocRAND?

[2018-11-10 18:41] wrightpt commented on #35
Ubuntu 18.04.

Initially, I followed the process outlined steps here (https://rocm.github.io/ROCmInstall.html):

Then i did the following from Tensorflow upstream (https://github.com/ROCmSoftwarePlatform/tensorflow-upstream):

[2018-11-10 19:11] wrightpt commented on #35
I do not recall installing MIopen

[2018-11-10 23:59] wrightpt commented on #35
I reinstalled everything.

[code]

[2018-11-11 00:30] wrightpt opened #36 "from tensorflow.python.keras.metrics import Metric ImportError: cannot import name 'Metric'"
[code]

Not really sure how to fix this. any input on where to start would be great.

[2018-11-11 00:31] #36 closed

[2018-11-15 09:20] NIEYALI opened #37 "make -j24 problem"
collect2: error: ld returned 1 exit status
test/CMakeFiles/test_hiprand_cpp_wrapper.dir/build.make:467: recipe for target 'test/test_hiprand_cpp_wrapper' failed
make[2]: *** [test/test_hiprand_cpp_wrapper] Error 1
CMakeFiles/Makefile2:1174: recipe for target 'test/CMakeFiles/test_hiprand_cpp_wrapper.dir/all' failed
make[1]: *** [test/CMakeFiles/test_hiprand_cpp_wrapper.dir/all] Error 2

[2018-11-15 09:29] ex-rzr commented on #37
1. What is your device?
2. Please show `hipconfig` output.
3. Show the full make log, perhaps there is more information.

[2018-11-15 10:20] NIEYALI commented on #37
1.ubuntu16+cuda10+cudnn7.4
2.HIP version  : 1.5.18353

== hipconfig
HIP_PATH     : /opt/rocm
HIP_PLATFORM : nvcc
CPP_CONFIG   :  -D__HIP_PLATFORM_NVCC__=  -I/opt/rocm/include -I/usr/local/cuda/include

== nvcc
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2018 NVIDIA Corporation
Built on Sat_Aug_25_21:08:01_CDT_2018
Cuda compilation tools, release 10.0, V10.0.130

=== Environment Variab

[2018-11-15 10:41] ex-rzr commented on #37
I'm a bit confused. I assume that you have an NVidia GPU, your main environment is CUDA and you're trying to build pytorch, right?

But it seems strange to me that it requires rocRAND. I know nothing about pytorch but I think that it shouldn't require any ROCm/HIP libraries to be built on CUDA.

Are you sure that pytorch was configured correctly?

[2018-11-15 10:42] VincentSC commented on #37
Seems the original problem is https://github.com/pytorch/pytorch/issues/14025 ?

[2018-11-16 02:45] NIEYALI commented on #37
@VincentSC yes, Sir. the original problem is about caffe2.

[2018-11-27 12:43] ntrost57 opened #38 "rocrand-config.cmake directory"
rocrand is (as far as I know) the only library that installs its `rocrand-config.cmake` and related files in `<rocm-dir>/lib/cmake/rocrand/rocrand/`
All other libraries install to `<rocm-dir>/lib/cmake/<roclib>/`
Is there a special reason for that?

[2018-11-28 09:37] ntrost57 opened #39 "rocrand.h file not found"
`library/include/hiprand_hcc.h` should include `rocrand/rocrand.h` instead of `rocrand.h`.

[2018-11-28 11:04] ex-rzr commented on #38
This is very strange.
How do you build and install rocRAND?

I've just checked three ways:
1. `sudo make install`
2. `make package`, then `sudo dpkg -i rocrand-1.8.2-Linux.deb `
3. `sudo apt install rocrand`

All commands create `/opt/rocm/rocrand/lib/cmake/rocrand/rocrand-config.cmake` and `/opt/rocm/rocrand/include/rocrand.h`, i.e. without this strange `rocrand/rocrand` path.

[2018-11-28 11:06] ntrost57 commented on #38
It is about `/opt/rocm/lib/cmake/` where all symlinks are created. Here, the directory is wrong.

[2019-01-21 18:26] Palmitoxico opened #40 "Call parameter type does not match function signature"
Hi,

I'm having problems when building the rocRAND library on my ArchLinux machine:

[code]
I've built rocm, hcc and hip from scratch (master branch), but I keep getting the same error.

[code]
[code]
Any hints?

Thanks,
Augusto.

[2019-01-22 01:40] baerbock opened #41 "Compilation issue"
There is an compilatin issue for me (with ROCm-2.0):
[code]

[2019-01-22 14:39] ex-rzr commented on #40
Thank you for your report, I'll check this issue.

[2019-01-23 05:51] ex-rzr commented on #40
It works on hcc 1.3.18482 (the release deb from http://repo.radeon.com/rocm/apt/debian/).
It looks like this caused by recent changes in llvm or hcc.

Here is our config:
[code]

https://github.com/RadeonOpenCompute/hcc/commits/roc-2.0.x
The difference is the last commit where llvm submodule updated.

@Palmitoxico, could you check 757fb492517b80e7c86338af5fc1a43d63cb25a9 commit?

[2019-01-23 05:52] ex-rzr commented on #40
@baerbock, could you also show your `/opt/rocm/hip/bin/hipcc --version` output?

[2019-01-23 06:18] ex-rzr commented on #41
I'm closing this issue, let's continue in #40

[2019-01-23 06:18] #41 closed

[2019-01-23 11:05] Palmitoxico commented on #40
I've rebuilt ```hcc``` @ 757fb492517b80e7c86338af5fc1a43d63cb25a9 and ```hip```, same results.

[code]
As you can see, the only difference to your setup is the llvm version (which makes sense). Could you point me the commit which the llvm submodule was updated? It wasn't in 757fb492517b80e7c86338af5fc1a43d63cb25a9.

Thanks,
Augusto.

[2019-01-23 11:14] ex-rzr commented on #40
What is llvm version in `/opt/rocm/hip/bin/hipcc --version` report now?

The top commit here: https://github.com/RadeonOpenCompute/hcc/commits/roc-2.0.x
https://github.com/RadeonOpenCompute/hcc/commit/6cf476c29792593f52cd66bd0bd96468b8dad7ea

May be "submodule compiler" stays as it was in 6cf476c when you checkout 757fb49? I don't have enough experience with git submodules, to be honest.

[2019-01-23 11:41] Palmitoxico commented on #40
The ```hipcc``` version showed above is built from 757fb492517b80e7c86338af5fc1a43d63cb25a9. It seems to be a problem with the git submodule checkout, I'll try clone and build everything from scratch and report my results on 757fb49251.

[2019-01-23 12:49] Palmitoxico commented on #40
Nope, 757fb492517b80e7c86338af5fc1a43d63cb25a9 still throwing the same error when building rocrand.
[code]

This matches with the submodules versions:
[code]

[2019-01-23 13:11] ex-rzr commented on #40
Weird, we still have different llvm versions (ab3b88ffc2ae50f55361a49aec89f6e95d9d0ec4 vs 6ec3c61e09fbb60373eaf5a40021eb862363ba2c).

[2019-01-23 13:18] ex-rzr commented on #40
ab3b88ffc2ae50f55361a49aec89f6e95d9d0ec4 does not exist in https://github.com/RadeonOpenCompute/llvm and https://github.com/llvm-mirror/llvm

[2019-01-27 23:26] bragadeesh opened #43 "__sincosf issue in rocrand_normal"
https://github.com/ROCmSoftwarePlatform/rocRAND/blob/master/library/include/rocrand_normal.h#L54

With recent changes to HIP, __sincosf is getting mapped to native device implementations for speed advantage at the expense of no precision guarantees; does rocrand provide mechanism to choose between fast vs accurate (example __sincosf vs sincosf) so user has some control? We are seeing accuracy issu

[2019-01-28 03:03] ex-rzr commented on #43
No, rocRAND doesn't have such mechanism currently.

Where are these accuracy issues: in rocRAND tests or in other programs/libraries that use rocRAND?

[2019-01-28 11:11] VincentSC opened #44 "Extend internal CI to CUDA"
CUDA-tests need to be turned on again.

[2019-01-28 11:15] VincentSC opened #45 "Merge develop into master"
Depends on #44 and some other changes we made locally to handle CI.

[2019-01-28 19:10] bragadeesh commented on #43
thanks; we are looking into this as this is one of the suspected issues, we will update when we have more info

[2019-01-30 21:58] VincentSC commented on #40
I think this gets out of scope and I'm closing this issue.

This is more a compiler-problem in the latest HIP+LLVM than an problem with rocRAND. We strongly recommend to use rocRAND and rocPRIM in the continuous integration of new versions of HIP, but we cannot support compiler-issues that do not clearly relate to .

For solving the issue, try to go step-by-step as you now try to hit it with the l

[2019-01-30 21:58] #40 closed

[2019-01-30 22:02] VincentSC commented on #43
Ok, I've asked for a list of alike changes and once we received these we'll go through our projects to find usages. If we suspect accuracy problems, we'll create issues and tag you.

I will close the issue for now, as the accuracy (to a certain level) is not important for RNGs. Thank you for the speedup.

[2019-01-30 22:02] #43 closed

[2019-02-01 12:49] VincentSC commented on #43
Question about how to know which functions are future-proof.

So the old `sincosf` is removed, the current `__sincosf` moves `sincosf`, and a new native implementation is put for `__sincosf`?

I understood more functions are being made native, but these seem to get `_native` in the function name. How is decided when a new function is added like [`__ocml_cos_f32` - > `__ocml_native_cos_f32`](https:

[2019-02-01 15:08] arsenm commented on #43
I have been thinking of OCML as a language internal implementation library without a fully stable API (hence the __ prefix). I did a cleanup a while ago since there was a naming inconsistency mess with some of the builtins, so now the _native_ ones should be equivalent to the OpenCL versions, but IIRC there wasn't actually a change in behavior. Not sure what's going on in HIP. Public API functions

[2019-02-01 16:07] b-sumner commented on #43
OCML is an internal library to be used by language runtimes so I think we should take it out of this discussion.  What should be talking about here are the differences between HIP/Cuda  __function vs function, e.g. __sincosf vs. sincosf.  Those differences are documented, at least in the Cuda documentation, and it says that the accuracy provided by the __ variants is lower and the domain may be re

[2019-02-01 18:43] baerbock commented on #40
@VincentSC I have been using HCC from ROCm 2.0 when my first rocRAND build originally failed. So please reopen this!

[2019-02-04 10:01] VincentSC commented on #45
As this needs coordination, I'm taking this up. I forgot to self-assign.

[2019-02-04 10:01] VincentSC commented on #44
As this needs coordination, I'm taking this up. I forgot to self-assign.

[2019-02-05 14:37] VincentSC commented on #43
Ok, I follow how OCML is positioned here. Thanks Matt.

My experience with __ functions is that they are always faster, but sometimes less accurate and sometimes only i.e. not IEEE-compliant like denorms.

Not sure if we can take that responsibility, as we'll probably find out by accident if such change arrives. This means a bug could get in without us knowing, or that a potential performance upgr

[2019-02-15 00:06] chazanov opened #49 "StackGuardSlot compile errors independent of hcc version"
Several people have reported (https://github.com/ROCmSoftwarePlatform/rocRAND/issues/40 https://github.com/ROCmSoftwarePlatform/rocRAND/issues/41 https://github.com/RadeonOpenCompute/hcc/issues/999 )
that rocRAND does not compile under ArchLinux. This error occurred for @baerbock , @Palmitoxico , ArchLinux packager Okoński and me. We have used different versions of hip+hcc (2.0 / 2.1 and master) f

[2019-02-15 03:30] ex-rzr commented on #49
@chazanov I'll try to build hcc+HIP+rocRAND on my Arch (hopefully today or this weekend).

[2019-02-15 07:05] ex-rzr commented on #49
Hmm... I've managed to build rocRAND on my Arch: the library, all tests and benchmarks. No errors at all. I can't check on my computer, but these binaries work on one of our test servers with Ubuntu.

All ROCm packages are from AUR:
[code]
As usual, `makepkg` except for HIP, where I manually set hcc platform with `HIP_PLATFORM=hcc makepkg` (because I have CUDA installed and AMD device not supporte

[2019-02-15 16:17] chazanov commented on #49
@ex-rzr You are really helpful, thanks a lot! I think currently I don't need your packages.

J. Okonski has just packaged rocrand for Arch: https://aur.archlinux.org/packages/rocrand
Interestingly he also had to disable stack protection.

With working rocRAND I now have all the dependencies for TensorFlow. The build still fails, but this may be related to https://github.com/ROCmSoftwarePlatform/te

[2019-02-16 16:00] VincentSC commented on #40
Sorry for this. We need something to reproduce *and* official+supported libraries are used. If you install the default ROCm 2.1 and explain how to reproduce, then I'll reopen. Now the support got full on LLVM-debunking.

[2019-02-28 04:27] ex-rzr commented on #49
Ok, this explains why I didn't see this issue: my `makepkg.conf` does not add `-fstack-protector-strong` to `CXXFLAGS`. When I manually add this option, I see the same crash.

(I'll check your TF build scripts)

[2019-03-10 10:04] holyprince opened #50 "Build error : no member named 'data' in 'uint4'"
When I try to build the rocRAND with the command:

cmake -DBUILD_BENCHMARK=OFF -DBUILD_TEST=OFF ..

and the summary is :

-- ******** Summary ********
-- General:
--   System                : Linux
--   HIP ROOT              : /opt/rocm/hip
--   C++ compiler          : /opt/rocm/bin/hcc
--   C++ compiler version  : 7.0.0
--   CXX flags             : -Wno-unused-command-line-argument -Wall -Wextra

[2019-03-12 21:07] baerbock commented on #49
Just seeing this thread.
@ex-rzr Do you have a working TensorFlow binary for ArchLinux?

[2019-03-13 04:56] ex-rzr commented on #49
@baerbock No, I couldn't build rocBLAS because its dependency Tensile does not support building without GPU: https://github.com/ROCmSoftwarePlatform/Tensile/issues/482
(As I mentioned I don't have ROCm supported GPU on my computer with Arch)

[2019-03-17 15:21] VincentSC commented on #50
Could you provide the full log-file? I'm suspecting it did not correctly download dependencies, but cmake continued anyway. We wrote the cmake config assuming that there was internet available, so you could maybe build on another machine and transport the binaries?

[2019-03-18 01:38] holyprince commented on #50
Thank you for your reply. This machine that I try to build cannot connect internet, so I turn off the build choice of BENCHMARK and TEST. Maybe the offline is the problem, or the whole library must turn on the  BENCHMARK  or TEST?
And the following is the full log-file:

[ build]$ make
[ 20%] Built target mrg32k3a_precomputed_generator
[ 40%] Built target xorwow_precomputed_generator
[ 60%] Built

[2019-03-18 02:45] ex-rzr commented on #50
You are using quite old versions of HCC and HIP. Is there any reason why you can't use the most recent versions?

[2019-03-20 03:23] holyprince commented on #50
Yes, very sorry. I just a cluster user and the admin said that only the HCC1.5.0 and rocm 1.9 provided.

[2019-03-20 03:32] ex-rzr commented on #50
In this case perhaps you can edit one file to manually revert this commit: https://github.com/ROCmSoftwarePlatform/rocRAND/commit/8a0ba3d7d8cb12067d32cedbe11153b7c1e70800

or pull a previous commit.

[2019-03-20 03:47] holyprince opened #52 "The different compile result using rocRAND and hipRAND"
When I port a program using hip, I find a strange problem

[code]

When I compile the above program, the rocrand API is normal but the hiprand API have the problem:
[code]
According to the introduction, the hip api may use the rocrand api, why this error appear?

[2019-03-20 04:17] ex-rzr commented on #52
Good catch! I'll fix these checks.

You can use `hiprandStateXORWOW_t` instead of `hiprandState`. This should work.

[2019-03-20 05:45] ex-rzr commented on #52
Fixed in https://github.com/ROCmSoftwarePlatform/rocRAND/commits/develop (not yet in master).

Check please, and if everything else is ok, I'll close the issue.

[2019-03-20 06:15] holyprince commented on #52
Yes, using `hiprandStateXORWOW_t` is ok and very grateful for your help.

[2019-03-20 06:15] holyprince commented on #50
Ok, I will try. Thank you very much.

[2019-03-20 06:15] #50 closed

[2019-03-26 22:28] #52 closed

[2019-04-15 23:02] saadrahim commented on #49
Hi,
If anyone can provide reproduction instructions for this issue on Ubuntu 16/18 or RHEL/Centos 7, I can request the compilers team provide a solution.

[2019-04-16 03:55] ex-rzr commented on #49
@saadrahim

[code]

[2019-04-16 17:51] saadrahim commented on #49
Just to clarify, do we want to be able to compile with the FLAG set or do we need to be able to disable the  FLAG via CMake.

[2019-05-23 18:47] saadrahim opened #56 "rocrand free an object that is not malloced"
It seems librocrand is trying to free an object that is not malloc'ed. It's caught by our asan build (note we removed the asan flag for hcc compiler, but we keep it for the other files that are built with clang/gcc):
This happens on our clang 8 + glibc 2.26 runs, but not on clang 7 + glibc 2.23 run.

=================================================================
==1914160==ERROR: AddressSanitiz

[2019-05-23 19:02] #56 closed

[2019-06-04 02:49] ex-rzr commented on #38
Fixed in #58

[2019-06-04 02:49] #38 closed

[2019-06-04 02:49] ex-rzr commented on #39
Fixed in #58

[2019-06-04 02:49] #39 closed

[2019-06-04 02:50] ex-rzr commented on #44
Fixed in #58

[2019-06-04 02:50] #44 closed

[2019-06-04 02:50] ex-rzr commented on #45
Fixed in #58

[2019-06-04 02:50] #45 closed

[2019-07-07 13:46] baerbock commented on #49
@saadrahim _fstack-protector-strong_ currently has [to be disabled](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=rocrand), so please fix the compiler to ALLOW THE FLAG.

[2019-07-11 16:23] saadrahim commented on #49
https://github.com/RadeonOpenCompute/ROCm#deprecation-notice---hcc
The hcc compiler is deprecated now. We are transitioning to the hipcc compiler. This issue is best revisited in again in the next few months.

[2019-07-23 21:59] AlexBrownAMD opened #74 "Performance regression in mtgp32 with uniform-double"
Merging pull request #71 (Vega20 changes) has caused a performance regression in one of the benchmarks. Performance drop happens for mtgp32 generator using uniform-double.

**Benchmark before:**
mtgp32:
  uniform-double:
      Throughput =  555.562 GB/s, Samples =   69.445 GSample/s, AvgTime (1 trial) =    1.800 ms, Time (all) =   36.000 ms, Size = 134217728

**Benchmark after:**
mtgp32:
  uniform

[2019-07-24 03:02] ex-rzr commented on #74
https://github.com/ROCmSoftwarePlatform/rocRAND/pull/71/commits/0bed3dec3a6623e7a5c8e9b642cb8b81d7bbed68#diff-a1cfdd6bc5fe1da2d475b62d196499fdR244

MTGP32 uses 2 uints to generate 1 double value (uniform, normal and log-normal). There is no reason to use 1 uint, because double values are supposed to have much greater precision than floats.

So this commit changed MTGP32 so it works in the same way

[2019-07-24 03:13] saadrahim commented on #74
Does the performance test that exists be modified to drop the use of 1 uint if this is no longer required? Do we need to add a 2 uint based MTGP32 performance tests?

[2019-07-24 03:27] ex-rzr commented on #74
I'm not sure I understand your question, could you elablorate?

[2019-07-24 03:53] saadrahim commented on #74
I may have misunderstood.

A performance test showed regression for double types.
Your explanation is that the old behavior was not suitable for double type. It was corrected and performance dropped. But the randomness of the output increased as a result (not sure what the correct mathematical term is).

Thanks,
Saad

[2019-07-24 04:14] ex-rzr commented on #74
Yes, your conclusion is correct.

On the other hand, performance of MTGP32's normal and log-normal for both float and double is much better now. I think Alex can confirm this. There was no reason not to use a Box-Muller transform for MTGP32 too (instead of a slower inverse cumulative approach which is used only for Sobol32 now).

[2019-07-24 14:24] AlexBrownAMD commented on #74
Yep, performance improved for both normal and log-normal. uniform-double was the only one that dropped, but that makes sense, the library now generates better random doubles.

**Benchmark before:**
  normal-float:
      Throughput =  171.870 GB/s, Samples =   42.967 GSample/s, AvgTime (1 trial) =    2.909 ms, Time (all) =   58.184 ms, Size = 134217728
  normal-double:
      Throughput =  107.423 G

[2019-07-31 21:21] eddy16112 opened #76 "can not compile on Nvidia platform"
I tried to compile to rocRAND on Nvidia platform, but I get the following error with make
[code]
Should I always use clang? Can I use gnu?

[2019-07-31 22:47] VincentSC commented on #76
There seems to be ROCm installed, or at least this is recognised, or Nvidia CUDA is not found. rocRAND makes use of [rocm-cmake](https://github.com/RadeonOpenCompute/rocm-cmake) - I think there you can get better answers why this happens on your machine.

[2019-07-31 23:20] eddy16112 commented on #76
Thanks for the suggestion. The machine has ROCm installed, but ROCm is not loaded into PATH/LD_LIBRARY_PATH, and CUDA is loaded, so I assume the rocRAND could figure it out.

I fixed it by manually export HIP_PLATFORM=nvcc before cmake. Maybe you could add a flag in ccmake to let user switch between hip and nvcc.

[2019-08-13 16:16] saadrahim commented on #74
Closing as issue was explained as expected behaviour.

[2019-08-13 16:16] #74 closed

[2019-08-23 07:35] sriharikarnam opened #81 "Compilation issues form rocRand while building the mxnet"
While building the hip port of mxnet with latest rocRAND, we observe compilation errors from rocRAND. Please find the log attached.
[mxnet_log_rocrand_issue.txt](https://github.com/ROCmSoftwarePlatform/rocRAND/files/3533292/mxnet_log_rocrand_issue.txt)
We needed some support regarding this issue.

ROCM version:
dpkg -s rocm-dkms
Package: rocm-dkms
Status: install ok installed
Priority: optional
Se

[2019-08-25 15:09] Lucretia opened #83 "Cannot build 2.7.0"
Using the [Gentoo overlay](https://github.com/justxi/rocm), I cannot get rocRAND to install with the 2.7.0 versions of everything.

[code]

I have submitted a bug [there](https://github.com/justxi/rocm/issues/67) too.

[2019-08-25 15:45] justxi commented on #83
Please keep in mind that it is not an official Gentoo overlay!
The ebuilds available in my overlay are in beta state, so please for the future... report problems only there at first.

[2019-08-25 16:10] Lucretia commented on #83
I know it's not official. I've just tried to build outside of emerge and I get the same errors.

[2019-08-25 16:13] justxi commented on #83
Ok, that is an important point you forget to mention I think ;).

[2019-08-25 16:22] Lucretia commented on #83
Using this command:

[code]

[2019-11-06 16:18] zjin-lcf commented on #83
I got the same errors. Could you explain the issue ?

Thanks

[2019-11-27 20:32] saadrahim opened #101 "Add unit test for uniform_distribution_half"
There is no test coverage for this call. Can something be added to test this?

[2019-12-02 20:16] neon60 commented on #101
There is already a unit test for this:
https://github.com/ROCmSoftwarePlatform/rocRAND/blob/bf46c6491d38b938fad20ba81a94ffadaa59bf97/test/test_uniform_distribution.cpp#L108

[2020-01-20 22:48] #76 closed

[2020-01-20 23:17] saadrahim commented on #81
There is an internal AMD ticket for this. Closing this here.

[2020-01-20 23:17] #81 closed

[2020-01-20 23:17] #49 closed

[2020-01-20 23:18] saadrahim commented on #83
Have you tried with the newer rocm releases?

[2020-01-20 23:19] #101 closed

[2020-04-06 23:32] saadrahim commented on #83
I am closing this issue due to lack of activity. Please refile against the latest rocm version if you need assistance.

[2020-04-06 23:32] #83 closed

[2020-04-07 06:50] Lucretia commented on #83
There's a lack of activity becase AMD can't be bothered to respond.

[2020-04-13 07:59] murthy95 opened #118 "Makefile:149: recipe for target 'all' failed"
**Describe the bug**
make failed while installing rocRAND. I tried installing the package following instructions from [here](https://github.com/ROCmSoftwarePlatform/rocRAND#build-and-install).
The following error has been encountered while running make

[code]

**To Reproduce**
The instructions used to install
[code]

**Environment**
[code]

[2020-04-30 16:29] saadrahim commented on #118
Have you tried running and examining the contents of the install file in the root directory of the project?

[2020-05-08 22:47] saadrahim opened #126 "Remove unnecessary if else"
https://github.com/ROCmSoftwarePlatform/rocRAND/blob/014a700ab6a9bc9f1d06a13b2a6123d651f8b70a/test/CMakeLists.txt#L59

[2020-08-25 21:54] rigtorp opened #140 "Invalid use of inline assembly for GFX1010 target"
**Describe the bug**

When building PyTorch the following error is observed:
[code]

I traced this down to use of inline assembly in rocRAND:
[code]

If I comment out the above line, the PyTorch build proceeds.

**To Reproduce**
Build PyTorch with ROCm, see ROCmSoftwarePlatform/pytorch#718

**Expected behavior**
Build succeeds.

[2020-08-27 03:06] doctorcolinsmith commented on #140
@rigtorp Thanks for reporting the issue.  We're working to fix the invalid use of v_mad_u64_u32 on gfx10 series hardware in an upcoming release.  You may see this same error recur in other ROCm libraries.

[2020-09-02 16:50] saadrahim commented on #140
A fix has been merged into the develop branch. @rigtorp Please verify if this resolves your issue. I will assume the issue is resolved in a week and close the ticket if no response is received.

[2020-09-04 05:11] rigtorp commented on #140
Yes PyTorch builds for GFX1010 now. But I cannot confirm functionality until https://github.com/ROCmSoftwarePlatform/rocPRIM/issues/180 has been fixed.

[2020-09-04 05:39] saadrahim commented on #140
Work on that issue is ongoing.

[2020-09-16 20:43] #140 closed

[2021-04-12 16:39] neon60 commented on #126
@saadrahim Can we close this issue?

[2021-04-12 16:40] #126 closed

[2021-05-10 17:00] #118 closed

[2021-06-01 10:04] gBaltar opened #177 "rocRand is compiled without gfx803 support"
Loading of pytorch failed because of missing code object for gfx803. All other rocm libs are fine, just this one failed. Works with local build.

Version:
**rocrand4.2.0_2.10.9.40200-21_amd64.deb**

Error:
:1:hip_code_object.cpp      :456 : 15814696557 us: hipErrorNoBinaryForGpu: Unable to find code object for all current devices!
:1:hip_code_object.cpp      :458 : 15814696572 us:   Devices:
:1:hi

[2021-06-01 11:17] xuhuisheng commented on #177
Please refer here:
<https://github.com/xuhuisheng/rocm-build/tree/master/gfx803#rocm-41-and-rocm-42-crashed-with-gfx803>

[2021-06-01 11:19] neon60 commented on #177
Hi @gBaltar

The following commit will be only available at 4.3:
https://github.com/ROCmSoftwarePlatform/rocRAND/commit/467824da5d312315dc97bf3590a1dd95ca0c6c55

The rocRAND library will support gfx803 after 4.3, until it can.

[2021-06-01 11:19] neon60 commented on #177
You were faster.

[2021-06-01 13:51] gBaltar commented on #177
Thanks

[2021-06-01 13:51] #177 closed

[2021-07-30 10:07] jakub329homola opened #196 "can't build rocRAND on nvidia platform, requires amd_comgr"
**Describe the bug**
on nvidia platform, building rocRAND, cmake finishes with error - could not find package amd_comgr
I don't have the comgr installed, but, should I? I am on nvidia platform.

**To Reproduce**
HIP_PLATFORM=nvidia
cuda installed in standard location (/usr/local/cuda)
installed HIP to ${HOME}/apps/HIP/installation
HIP_PATH=${HOME}/apps/HIP/installation
git clone https://github.com

[2021-08-04 17:17] jakub329homola commented on #196
Hello,
thanks for the answer.

That's nice to hear!

I just triend installing the hip-base and hip-nvcc packages using apt-get and now rocRAND builds successfully on the nvidia platform. I then uninstalled it all again. Then I tried to build&install HIP from source (now the new the rocm-4.3.x branch), and pointed HIP_PATH to the installation directory and added the bin directory to PATH, the previ

[2021-08-04 18:10] #196 closed

[2021-08-05 15:28] tpkessler opened #198 "Unknown option `--amdgpu-target`"
**Describe the bug**
The option `--amdgpu-target` introduced in #156 is unsupported by `clang-13` from `llvm-amdgpu 4.3.0`.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone -b rocm-4.3.0 git@github.com:ROCmSoftwarePlatform/rocRAND.git`
2. `CXX=/opt/rocm/hip/bin/hipcc cmake -B build`
3. `make -C build -j`

**Expected behavior**
Successful linking of `librocrand.so`.

**Log-files**
<

[2021-08-05 15:46] tpkessler commented on #198
If I revert #156, `rocrand` compiles successfully.

[2021-08-05 15:58] lawruble13 commented on #198
This is an issue with cmake 3.21.1: https://gitlab.kitware.com/cmake/cmake/-/issues/22460.
@cgmb has suggested a workaround
`set(__skip_rocmclang ON)`
until this issue is fixed, and that appears to fix the issue for me.

[2021-08-05 16:01] cgmb commented on #198
You can add the workaround to the CMake configure command in step 2 by changing it to:

    CXX=/opt/rocm/hip/bin/hipcc cmake -B build -D__skip_rocmclang=ON

[2021-08-06 12:05] tpkessler commented on #198
Thank you @lawruble13 and @cgmb! The proposed workaround solves my problem.

[2021-11-24 17:15] tpkessler commented on #198
The workaround is not needed with a newer version of cmake (and ROCm) anymore. I'm closing this issue.

[2021-11-24 17:15] #198 closed

[2021-12-11 18:58] sbalint98 opened #234 "rocrand_set_offset unexpected behaviour"
**Describe the bug**
`rorand_set_offset` seems to change the seed of the generator. The numbers produced by a generator with and without offset with the same seed are completely different.

**To Reproduce**
Steps to reproduce the behavior:
1. Install `rocrand-dev4.5.2` and `hip-dev4.5.2` version 4.5.2 using the package repositories
2. Compile the attached reproducer ([reprod.txt](https://github.co

[2021-12-13 10:01] neon60 commented on #234
@Maetveis Please check the issue and try to reproduce.

[2021-12-13 16:49] Maetveis commented on #234
The issue here is that the random number generation does not work the way you're thinking it works.
Lets call our random number generator `g`. Since `g` has internal state lets keep track of the number of calls to `g` by its superscript. There can be multiple generators so lets mark them with a subscript.
With this notation for example ![equation](https://latex.codecogs.com/svg.latex?g%5E2_3) is t

[2021-12-13 18:44] sbalint98 commented on #234
Thank you for your quick response and your thorough explanation!

I think the snippet that you have provided does not cover the use case that we are interested in. Our primary goal is to reproduce the behaviour of curand, which generates two lists with an `offset`.

For example, given two lists `original_ran_list`, and `ofsetted_ran_list` generated by generators with the same seed but the generato

[2022-01-05 12:11] Maetveis commented on #234
You can now try out the branch mrg32k3a_offset (https://github.com/ROCmSoftwarePlatform/rocRAND/pull/236) it should fix the mrg32k3a generator (used in your reproducer). Other generators are in separate branches.

[2022-01-24 16:54] #234 closed

[2022-04-24 12:18] DeeptimayeeSethi opened #269 "Please enable two factor authentication in your github account"
@VincentSC;@sbalint98;@Maetveis;@AJcodes;@neon60;@nolmoonen

We are going to enforce two factor authentication in (https://github.com/ROCmSoftwarePlatform/) organization on 29th April, 2022 .
Since we identified you as outside collaborator for ROCmSoftwarePlatform organization, you need to enable two factor authentication in your github account else you shall be removed from the organization after

[2022-07-14 20:02] jmellorcrummey opened #278 "Could a spack package be provided for hiprand?"
**Is your feature request related to a problem? Please describe.**
There is not a download of hiprand for centos8 as a yum package. Here (https://repo.radeon.com/rocm/centos8/5.2/main), I see that there are yum packages for hipfft, hibblas and others. Could a centos package be added for hiprand?

**Describe the solution you'd like**
Could a centos package be added for hiprand?

Alternatively, the

[2022-07-14 20:42] cgmb commented on #278
I'm not a rocrand / hiprand developer so I'll leave the CentOS package question up to them, but I think @srekolam is the one to ask about the status of hiprand in Spack.

[2022-07-14 20:46] saadrahim commented on #278
For your immediate needs, using rocRAND packages should work as hipRAND is included. I suspect the current spack build for rocRAND also builds hipRAND. But @srekolam should be able to confirm the spack status.

[2022-07-14 20:49] srekolam commented on #278
yeah.. currently we are building hipRAND as part of rocRAND build.

[2022-07-14 21:24] jmellorcrummey commented on #278
Thanks for the responses! I was able to

yum install rocrand-devel

and get everything I needed. I had originally looked at the hiprand README.md file and it mentioned installing hiprand as a package using "apt". It would be nice to mention somewhere that hiprand is part of rocrand and how to install the whole thing in your README.md.

I ended up stumbling into this because someone in my group was

[2022-07-19 23:23] #278 closed

[2022-08-29 15:29] #269 closed